.editor-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
    border-radius: 10px;
    width: 30px;
    aspect-ratio: 1 / 1;

}
.active-editor-btn{
    color: #222121;
    background: #b3afaf;
}
